<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Login page</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/app.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css"/>
</head>
<body>
<div id="mainWrapper">
    <div class="login-container">
        <div class="login-card">
            <div class="login-form">
                <h1 id="banner">用户登录</h1>
                <form name="f" action="login"
                      method="POST" class="form-horizontal">
                    <div class="input-group input-sm">
                        <label class="input-group-addon" for="username"><i class="fa fa-user"></i></label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required>
                    </div>
                    <div class="input-group input-sm">
                        <label class="input-group-addon" for="password"><i class="fa fa-lock"></i></label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                    </div>

                    <div class="form-actions input-group input-sm">
                        <input type="submit"
                               class="btn btn-primary btn-default" value="登陆">
                        &nbsp;&nbsp;

                        <a href="/public/errorRegister.html"
                               class="btn btn-primary btn-default" >注册</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>